<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 card text-center">
        <img src="../assets/img/Screenshot_5.png" class="card-img-top" style="width: 6rem; display: block; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">Compra Protegida</h5>
          <p class="card-text">Te acompañamos hasta que recibas lo que compraste. Y si no es lo que esperabas, te devolvemos el dinero.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card text-center">
        <img src="../assets/img/Screenshot_6.png" class="card-img-top" style="width: 6rem; display: block; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">Recibe tu productos</h5>
          <p class="card-text">Recibe el producto en tu casa o en una sucursal de correo. Y sigue tu compra hasta que llegue a tus manos.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card text-center">
        <img src="../assets/img/Screenshot_7.png" class="card-img-top" style="width: 6rem; display: block; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">Paga con tarjeta o en efectivo</h5>
          <p class="card-text">Con Mercado Pago, tienes meses sin intereses con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
      </div>
    </div>
  </div>